@import "~bootstrap/scss/bootstrap";
/*
body {
    background-color: #0C0E26;

}
*/
.example-wrapper {
    text-align: center;
}

nav {
    background-color: #0C0E26;

}

h3.mt-4.pl-4 {
    text-align: center;
}


li a {
    margin-left: 20px;
}

li.btn{
    margin-left: 20px;
    text-align: center;
}